@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
.home {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
        
}

.home-content {
    display: flex;
    position: relative;
}

.greeting-words {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    font-family: 'Gaegu', sans-serif;
    font-size: 1.2rem;
}

.butterfly {
    font-size: 1.5rem;
    color: aquamarine;
}

.greeting{
    max-height: 120px;
    max-width: 120px;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
        /* Maintain the image's aspect ratio */
        max-width: 200px;
}

.card-img {
     width: 100%;
     max-width: 200px;
    
}

.home-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.categories-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card img {
    max-height: 250px;
}

.see-all {
    align-self: flex-end;
    text-decoration: underline;
}