* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: #6d6868;
}

body {
    height: 100vh;
    margin: 0 auto;
    max-width: 768px;
    min-width: 375px;
}

img {
    width: 100%;
    max-width: 200px;
}